$margin: 0;
$padding: 0;
$line-height: normal;

// fonts
$body-m: "Inter";

// font sizes
$body-m-size: 16px;
$heading-s-size: 20px;
$heading-l-size: 48px;
$heading-m-size: 24px;
$body-s-size: 14px;
$heading-xl-size: 64px;

// colors
$pure-white: #fff;
$dark-electric-blue: #5e6e85;
$gunmetal: #253347;
$borders: #d8e2e7;
$blue: #345ff6;

// gaps
$gap-base: 16px;
$gap-16xl: 35px;
$gap-5xl: 24px;
$gap-5xs: 8px;
$gap-lg: 18px;

// paddings
$padding-13xl: 32px;
$padding-xl: 20px;
$padding-5xl: 24px;

// border radiuses
$br-base: 16px;
$br-16xl: 35px;
$br-980xl: 999px;
$br-xs: 12px;

body {
  margin: $margin;
  padding: $padding;
  line-height: $line-height;
  background-color: $pure-white;
  color: $gunmetal;
  font-family: "Inter";
}
.title {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.05em;
  line-height: 110%;
  font-weight: 600;
  font-size: $heading-xl-size;
}
.layout {
  width: 100%;
  .hero {
    position: absolute;
    .hero-child {
      position: absolute;
      top: 0;
      left: -190px;
      border-radius: 0 0 $br-16xl $br-16xl;
      background: linear-gradient(-69.9deg, #d6e6fe, rgba(214, 251, 254, 0));
      width: 1178px;
      height: 737px;
    }
    .logo {
      position: absolute;
      top: 75px;
      left: 116px;
      width: 64px;
      height: 64px;
      overflow: hidden;
    }
    .contant {
      position: absolute;
      top: 266px;
      left: 116px;
      width: 564px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: $gap-16xl;
      p {
        width: 465px;
        position: relative;
        font-size: $body-m-size;
        line-height: 150%;
        color: $dark-electric-blue;
        display: inline-block;
      }
    }
    .frame-parent {
      display: flex;
      padding: $padding-13xl;
      .details-below-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: $heading-m-size;
        .details {
          position: relative;
          letter-spacing: -0.05em;
          font-weight: 600;
        }
      }
      .frame-group {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: $gap-5xl;
        .group-parent {
          flex: 1;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: $gap-lg;
          .frame-child {
            width: 31px;
            position: relative;
            height: 31px;
            cursor: pointer;
          }
          .metric {
            position: relative;
            line-height: 150%;
            font-weight: 600;
          }
          .frame-item {
            width: 31px;
            height: 31px;
            position: relative;
            border-radius: 50%;
            background-color: $pure-white;
            border: 1px solid $borders;
            box-sizing: border-box;
            cursor: pointer;
          }
        }
      }
      .frame-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        .input-container {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          // flex: 1;
          flex-direction: column;
          gap: $gap-5xs;
          p {
            position: relative;
            line-height: 150%;
          }
          .parent {
            align-self: stretch;
            border-radius: $br-xs;
            background-color: $pure-white;
            border: 1px solid $borders;
            flex-direction: row;
            padding: $padding-xl $padding-5xl;
            gap: $gap-5xl;
            font-size: $heading-m-size;
            color: $gunmetal;
            input {
              width: 100%;
              border: none;
              outline: none;
            }
            span {
              color: $blue;
            }
          }
        }
      }
      .frame-div {
        display: flex;
        padding: $padding-13xl;
        align-self: stretch;
        border-radius: $br-base $br-980xl $br-980xl $br-base;
        background: linear-gradient(90deg, #345ff7, #587dff);
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: $gap-5xl;
        color: $pure-white;
        .header {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: $gap-5xs;
          .title {
            position: relative;
            font-weight: 600;
            align-self: stretch;
            line-height: 150%;
            font-size: $body-m-size;
          }
          .bmi {
            position: relative;
            font-weight: 600;
            font-size: $heading-xl-size;
            letter-spacing: -0.05em;
            line-height: 110%;
          }
        }
        .suggests-container {
          flex: 1;
          position: relative;
          font-size: $body-s-size;
          line-height: 150%;
        }
      }
    }
  }
}

// Media query for 1440px width
@media (max-width: 1440px) {
  .layout {
    .hero {
      .hero-child {
        left: -50px;
        width: 1040px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .layout {
    .hero {
      .hero-child {
        left: -50px;
        width: 1040px;
      }
    }
  }
}

@media (max-width: 768px) {
  .layout {
    width: 100%;
    .hero {
      width: 100%;
      .hero-child {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
      }
    }
  }
}

@media (max-width: 425px) {
  .layout {
    .hero {
      .hero-child {
        left: -50px;
        width: 1040px;
      }
    }
  }
}
