body {
  margin: 0;
  padding: 0;
  line-height: normal;
  background-color: #fff;
  color: #253347;
  font-family: "Inter";
}

.title {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.05em;
  line-height: 110%;
  font-weight: 600;
  font-size: 64px;
}

.layout {
  width: 100%;
}
.layout .hero {
  position: absolute;
}
.layout .hero .hero-child {
  position: absolute;
  top: 0;
  left: -190px;
  border-radius: 0 0 35px 35px;
  background: linear-gradient(-69.9deg, #d6e6fe, rgba(214, 251, 254, 0));
  width: 1178px;
  height: 737px;
}
.layout .hero .logo {
  position: absolute;
  top: 75px;
  left: 116px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.layout .hero .contant {
  position: absolute;
  top: 266px;
  left: 116px;
  width: 564px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
}
.layout .hero .contant p {
  width: 465px;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  color: #5e6e85;
  display: inline-block;
}
.layout .hero .frame-parent {
  display: flex;
  padding: 32px;
}
.layout .hero .frame-parent .details-below-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 24px;
}
.layout .hero .frame-parent .details-below-wrapper .details {
  position: relative;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.layout .hero .frame-parent .frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.layout .hero .frame-parent .frame-group .group-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.layout .hero .frame-parent .frame-group .group-parent .frame-child {
  width: 31px;
  position: relative;
  height: 31px;
  cursor: pointer;
}
.layout .hero .frame-parent .frame-group .group-parent .metric {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.layout .hero .frame-parent .frame-group .group-parent .frame-item {
  width: 31px;
  height: 31px;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #d8e2e7;
  box-sizing: border-box;
  cursor: pointer;
}
.layout .hero .frame-parent .frame-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.layout .hero .frame-parent .frame-container .input-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
.layout .hero .frame-parent .frame-container .input-container p {
  position: relative;
  line-height: 150%;
}
.layout .hero .frame-parent .frame-container .input-container .parent {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #d8e2e7;
  flex-direction: row;
  padding: 20px 24px;
  gap: 24px;
  font-size: 24px;
  color: #253347;
}
.layout .hero .frame-parent .frame-container .input-container .parent input {
  width: 100%;
  border: none;
  outline: none;
}
.layout .hero .frame-parent .frame-container .input-container .parent span {
  color: #345ff6;
}
.layout .hero .frame-parent .frame-div {
  display: flex;
  padding: 32px;
  align-self: stretch;
  border-radius: 16px 999px 999px 16px;
  background: linear-gradient(90deg, #345ff7, #587dff);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: #fff;
}
.layout .hero .frame-parent .frame-div .header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.layout .hero .frame-parent .frame-div .header .title {
  position: relative;
  font-weight: 600;
  align-self: stretch;
  line-height: 150%;
  font-size: 16px;
}
.layout .hero .frame-parent .frame-div .header .bmi {
  position: relative;
  font-weight: 600;
  font-size: 64px;
  letter-spacing: -0.05em;
  line-height: 110%;
}
.layout .hero .frame-parent .frame-div .suggests-container {
  flex: 1;
  position: relative;
  font-size: 14px;
  line-height: 150%;
}

@media (max-width: 1440px) {
  .layout .hero .hero-child {
    left: -50px;
    width: 1040px;
  }
}
@media (max-width: 1024px) {
  .layout .hero .hero-child {
    left: -50px;
    width: 1040px;
  }
}
@media (max-width: 768px) {
  .layout {
    width: 100%;
  }
  .layout .hero {
    width: 100%;
  }
  .layout .hero .hero-child {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
  }
}
@media (max-width: 425px) {
  .layout .hero .hero-child {
    left: -50px;
    width: 1040px;
  }
}/*# sourceMappingURL=1index.css.map */