body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #253347;
}

.container {
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 737px;
}
.hero-background {
  position: absolute;
  top: 0;
  left: -200px;
  width: 1178px;
  height: 737px;
  border-radius: 0 0 35px 35px;
  background: linear-gradient(-69.9deg, #d6e6fe, rgba(214, 251, 254, 0));
}
.hero-content {
  position: absolute;
  top: 266px;
  left: 0;
  width: 564px;
}
.hero .icon {
  position: absolute;
  top: 75px;
  left: 0;
  width: 64px;
  height: 64px;
}
.hero .title {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -0.05em;
  margin: 0;
}
.hero .description {
  font-size: 16px;
  color: #5e6e85;
  line-height: 1.5;
  margin: 24px 0;
}
.hero .input-section {
  position: absolute;
  top: 167px;
  right: 0;
  width: 564px;
  padding: 32px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
}
.hero .input-section .subtitle {
  font-size: 18px;
  font-weight: 600;
}
.hero .input-section .units-toggle {
  display: flex;
  gap: 16px;
  margin: 24px 0;
}
.hero .input-section .units-toggle .unit {
  flex: 1;
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 600;
}
.hero .input-section .units-toggle .unit .unselector {
  cursor: pointer;
}
.hero .input-section .units-toggle .unit .selector {
  width: 31px;
  height: 31px;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #d8e2e7;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.5s;
}
.hero .input-section .units-toggle .unit .selector:hover {
  border: 1px solid #345ff6;
}
.hero .input-section .input-container {
  display: flex;
  gap: 24px;
}
.hero .input-section .input-container .input-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: end;
  margin-bottom: 1rem;
}
.hero .input-section .input-container .input-item label {
  font-size: 14px;
  color: #5e6e85;
}
.hero .input-section .input-container .input-item .input-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px;
  border: 1px solid #d8e2e7;
  border-radius: 16px;
}
.hero .input-section .input-container .input-item .input-wrapper input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  font-weight: 600;
  font-size: 24px;
}
.hero .input-section .input-container .input-item .input-wrapper .unit-label {
  font-size: 24px;
  color: #345ff6;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.hero .input-section .bmi-result {
  display: flex;
  padding: 20px;
  align-self: stretch;
  border-radius: 16px 999px 999px 16px;
  background: linear-gradient(90deg, #345ff7, #587dff);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  color: #fff;
  margin-top: 32px;
}
.hero .input-section .bmi-result .header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero .input-section .bmi-result .header .result-label {
  position: relative;
  font-weight: 600;
  align-self: stretch;
  line-height: 150%;
  font-size: 16px;
}
.hero .input-section .bmi-result .header .result-value {
  position: relative;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.05em;
  line-height: 110%;
}
.hero .input-section .bmi-result .result-description {
  flex: 1;
  font-size: 14px;
  line-height: 150%;
}

.bmi-meaning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  padding: 70px 0px;
}
.bmi-meaning .section-one {
  position: relative;
  padding: 50px;
  padding-bottom: 0px;
}
.bmi-meaning .section-one .bmi-image {
  width: 468px;
  height: 533px;
  -o-object-fit: cover;
     object-fit: cover;
}
.bmi-meaning .section-one::after {
  position: absolute;
  content: "";
  left: 0%;
  bottom: 0;
  background-color: #e7f5fe;
  width: 568px;
  height: 353px;
  z-index: -999;
  border-radius: 16px;
}
.bmi-meaning .section-two {
  margin-top: 100px;
}
.bmi-meaning .section-two .section-title {
  align-self: stretch;
  letter-spacing: -0.05em;
  line-height: 110%;
  font-weight: 600;
  font-size: 48px;
}
.bmi-meaning .section-two p {
  margin-top: 20px;
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  color: #5e6e85;
}

.tips {
  position: relative;
  margin-top: 10rem;
  padding: 3rem 0rem;
}
.tips .tips-bg {
  position: absolute;
  background: linear-gradient(-69.9deg, #d6e6fe, rgba(214, 251, 254, 0));
  width: 100%;
  opacity: 0.25;
  right: -5%;
  bottom: 0;
  top: 0%;
}
.tips .tips-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 5rem;
}
.tips .tips-content .tip {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.tips .tips-content .tip img {
  width: 64px;
  height: 64px;
}
.tips .tips-content .tip h3 {
  font-weight: 600;
  font-size: 24px;
}

.desktop-child {
  position: absolute;
  top: 749px;
  width: 85px;
  height: 200px;
  right: 20%;
}

.bmi-limitations {
  position: relative;
  margin-top: 7rem;
}
.bmi-limitations .contant {
  max-width: 400px;
  position: absolute;
  top: 0%;
  left: 0%;
}

.limitation {
  /* position: absolute; */
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.175);
  border-radius: 16px;
  background-color: #fff;
  width: 365px;
  padding: 24px;
  box-sizing: border-box;
}

.limitations-content .row .col-12,
.col-8,
.pregnancy-box,
.muscle-box,
.age-box,
.col-4 {
  display: flex;
  justify-content: end;
  width: 100%;
}

.limitations-content .row .muscle-box {
  justify-content: start;
}
.limitations-content .gender {
  margin-right: 10%;
}
.limitations-content .pregnancy {
  margin-right: 20%;
}
.limitations-content .age {
  margin-top: 2.5rem;
}

@media (max-width: 1440px) {
  .hero-background {
    left: -50px;
    width: 1048px;
  }
  .hero .icon {
    left: 0px;
  }
  .hero-content {
    left: 0px;
  }
  .bmi-meaning {
    gap: 3rem;
    padding: 0px;
  }
  .bmi-meaning .section-one {
    position: relative;
    padding: 50px;
    padding-bottom: 0px;
  }
  .bmi-meaning .section-one .bmi-image {
    width: 468px;
    height: 533px;
  }
  .bmi-meaning .section-one::after {
    width: 100%;
  }
  .bmi-meaning .section-two {
    margin-top: 10rem;
  }
}
@media (max-width: 1200px) {
  .hero-background {
    left: -30px;
    width: 708px;
    height: 667px;
  }
  .hero-content {
    left: 0px;
    width: 385px;
  }
  .hero .icon {
    left: 0px;
  }
  .hero .title {
    font-size: 48px;
  }
  .hero .description {
    font-size: 14px;
  }
  .hero .input-section {
    width: 504px;
    padding: 24px;
  }
  .hero .input-section .input-item .input-wrapper {
    padding: 12px;
  }
  .bmi-meaning .section-one {
    position: relative;
    padding: 50px;
    padding-bottom: 0px;
  }
  .bmi-meaning .section-one .bmi-image {
    width: 368px;
    height: 433px;
  }
  .tips {
    margin-top: 7rem;
  }
  .tips .tips-content {
    gap: 2rem;
  }
  .desktop-child {
    top: 669px;
  }
}
@media (max-width: 1023px) {
  .desktop-child {
    display: none;
  }
  .hero-background {
    left: 0;
    width: 100%;
  }
  .hero .icon {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-content {
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 0px 32px;
    top: 20%;
  }
  .hero .input-section {
    top: 95%;
    right: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
  }
  .hero-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .bmi-meaning {
    padding-top: 15rem;
  }
  .bmi-meaning .section-one {
    padding-bottom: 0px;
  }
  .bmi-meaning .section-one .bmi-image {
    width: 268px;
    height: 333px;
  }
  .bmi-meaning .section-two .section-title {
    font-size: 24px;
  }
  .tips .tips-content {
    flex-direction: column;
  }
  .tips .tips-content .tip {
    flex-direction: row;
  }
  .bmi-limitations .contant {
    position: relative;
    max-width: 100%;
    text-align: center;
  }
  .limitations-content .gender {
    margin-right: 0%;
  }
  .limitations-content .pregnancy {
    margin-right: 0%;
  }
  .limitation {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .hero .input-section {
    top: 105%;
    width: 360px;
  }
  .hero .input-section .input-container {
    flex-direction: column;
  }
  .hero .input-section .input-container .input-item {
    width: 100%;
  }
  .hero .input-section .input-container .input-item .input-wrapper {
    padding: 12px;
  }
  .hero .input-section .imperial-input-box {
    flex-direction: row;
  }
  .hero .input-section .bmi-result {
    flex-direction: column;
    gap: 0px;
    align-items: start;
    border-radius: 16px;
  }
  .bmi-meaning {
    margin-top: 13rem;
    flex-direction: column;
    gap: 0;
  }
  .bmi-meaning .section-one {
    padding-top: 12rem;
    padding-bottom: 0px;
    padding: 2.5rem;
  }
  .bmi-meaning .section-one .bmi-image {
    width: 268px;
    height: 333px;
  }
  .bmi-meaning .section-two {
    margin-top: 2rem;
    padding: 2.5rem;
  }
  .bmi-meaning .section-two p {
    font-size: 14px;
  }
  .tips {
    padding: 2rem;
  }
  .tips .tips-bg {
    right: 0%;
  }
  .tips .tips-content {
    flex-direction: column;
  }
  .tips .tips-content .tip {
    flex-direction: column;
  }
}/*# sourceMappingURL=index.css.map */