$font-body: "Inter", sans-serif;
$color-white: #fff;
$color-dark-blue: #5e6e85;
$color-gunmetal: #253347;
$color-borders: #d8e2e7;
$color-blue: #345ff6;

// fonts
$body-m: "Inter";

// font sizes
$xs-size: 14px;
$base-size: 16px;
$sm-size: 20px;
$lg-size: 24px;
$xl-size: 48px;
$xxl-size: 64px;

$gap-base: 16px;
$gap-lg: 24px;
$gap-xl: 32px;

$padding-base: 20px;
$padding-lg: 24px;
$padding-xl: 32px;

$border-radius-base: 16px;
$border-radius-large: 35px;
$border-radius-round: 999px;

body {
  margin: 0;
  font-family: $font-body;
  background-color: $color-white;
  color: $color-gunmetal;
}

.container {
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 737px;

  &-background {
    position: absolute;
    top: 0;
    left: -200px;
    width: 1178px;
    height: 737px;
    border-radius: 0 0 $border-radius-large $border-radius-large;
    background: linear-gradient(-69.9deg, #d6e6fe, rgba(214, 251, 254, 0));
  }

  &-content {
    position: absolute;
    top: 266px;
    left: 0;
    width: 564px;
  }

  .icon {
    position: absolute;
    top: 75px;
    left: 0;
    width: 64px;
    height: 64px;
  }

  .title {
    font-size: $xxl-size;
    font-weight: 600;
    letter-spacing: -0.05em;
    margin: 0;
  }

  .description {
    font-size: $base-size;
    color: $color-dark-blue;
    line-height: 1.5;
    margin: $gap-lg 0;
  }

  .input-section {
    position: absolute;
    top: 167px;
    right: 0;
    width: 564px;
    padding: $padding-xl;
    background-color: $color-white;
    border-radius: $border-radius-base;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    .subtitle {
      font-size: 18px;
      font-weight: 600;
    }

    .units-toggle {
      display: flex;
      gap: $gap-base;
      margin: $gap-lg 0;

      .unit {
        flex: 1;
        display: flex;
        gap: $gap-base;
        align-items: center;
        cursor: pointer;
        font-weight: 600;

        .selector {
          width: 31px;
          height: 31px;
          position: relative;
          border-radius: 50%;
          background-color: $color-white;
          border: 1px solid $color-borders;
          box-sizing: border-box;
          cursor: pointer;
          transition: all 0.5s;
          &:hover {
            border: 1px solid $color-blue;
          }
        }
      }
    }
    .input-container {
      display: flex;
      gap: $gap-lg;
      .input-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: $gap-base;

        label {
          font-size: 14px;
          color: $color-dark-blue;
        }
        .input-wrapper {
          display: flex;
          align-items: center;
          gap: $gap-base;
          padding: $padding-base;
          border: 1px solid $color-borders;
          border-radius: $border-radius-base;

          input {
            flex: 1;
            border: none;
            outline: none;
            font-size: 16px;
            width: 100%;
            font-weight: 600;
            font-size: $lg-size;
          }

          .unit-label {
            font-size: $lg-size;
            color: $color-blue;
            letter-spacing: -0.05em;
            font-weight: 600;
          }
        }
      }
    }

    .bmi-result {
      display: flex;
      padding: $padding-base;
      align-self: stretch;
      border-radius: $border-radius-base $border-radius-round
        $border-radius-round $border-radius-base;
      background: linear-gradient(90deg, #345ff7, #587dff);
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: $gap-xl;
      color: $color-white;
      margin-top: 32px;
      .header {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .result-label {
          position: relative;
          font-weight: 600;
          align-self: stretch;
          line-height: 150%;
          font-size: $base-size;
        }
        .result-value {
          position: relative;
          font-weight: 600;
          font-size: $xl-size;
          letter-spacing: -0.05em;
          line-height: 110%;
        }
      }
      .result-description {
        flex: 1;
        font-size: $xs-size;
        line-height: 150%;
      }
    }
  }
}

.bmi-meaning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  padding: 70px 0px;

  .section-one {
    position: relative;
    padding: 50px;
    padding-bottom: 0px;
    .bmi-image {
      width: 468px;
      height: 533px;
      object-fit: cover;
    }
    &::after {
      position: absolute;
      content: "";
      left: 0%;
      bottom: 0;
      background-color: #e7f5fe;
      width: 568px;
      height: 353px;
      z-index: -999;
      border-radius: $border-radius-base;
    }
  }
  .section-two {
    margin-top: 100px;
    .section-title {
      align-self: stretch;
      letter-spacing: -0.05em;
      line-height: 110%;
      font-weight: 600;
      font-size: $xl-size;
    }
    p {
      margin-top: 20px;
      align-self: stretch;
      position: relative;
      font-size: $base-size;
      line-height: 150%;
      color: $color-dark-blue;
    }
  }
}

.tips {
  position: relative;
  margin-top: 10rem;
  padding: 3rem 0rem;
  .tips-bg {
    position: absolute;
    background: linear-gradient(-69.9deg, #d6e6fe, rgba(214, 251, 254, 0));
    width: 100%;
    // height: 100%;
    opacity: 0.25;
    right: -5%;
    bottom: 0;
    top: 0%;
  }
  .tips-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 5rem;
    .tip {
      display: flex;
      flex-direction: column;
      gap: $gap-xl;
      img {
        width: 64px;
        height: 64px;
      }
      h3 {
        font-weight: 600;
        font-size: $lg-size;
      }
    }
  }
}

.bmi-limitations {
  margin-top: 5rem;
  .contant {
    max-width: 600px;
    .section-title {
      font-size: $xl-size;
      font-weight: 600;
    }
    p {
      font-size: $xs-size;
      color: $color-dark-blue;
    }
  }
  .limitations-content {
    position: relative;
    height: 700px;
    .limitation {
      position: absolute;
      box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.175);
      border-radius: $border-radius-base;
      background-color: $color-white;
      width: 365px;
      overflow: hidden;
      padding: $padding-lg;
      box-sizing: border-box;

      &:nth-child(1) {
        top: -20%;
        right: 10%;
      }
      &:nth-child(2) {
        top: 17%;
        right: 0%;
      }
      &:nth-child(3) {
        top: 17%;
        right: 31%;
      }
      &:nth-child(4) {
        top: 47%;
        right: 18.2%;
      }
      &:nth-child(5) {
        top: 47%;
        right: 49.3%;
      }
      .box {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: $gap-base;
        .icon {
          width: 32px;
          position: relative;
          height: 32px;
          overflow: hidden;
          flex-shrink: 0;
        }
        h3 {
          letter-spacing: -0.05em;
          font-weight: 600;
        }
      }
      p {
        align-self: stretch;
        position: relative;
        font-size: $base-size;
        line-height: 150%;
        color: $color-dark-blue;
      }
    }
  }
}

.desktop-child {
  position: absolute;
  top: 749px;
  width: 85px;
  height: 200px;
  right: 20%;
}

@media (max-width: 1440px) {
  .hero {
    &-background {
      left: -50px;
      width: 1048px;
    }
    .icon {
      left: 0px;
    }
    &-content {
      left: 0px;
    }
  }
  .bmi-meaning {
    gap: 3rem;
    padding: 0px;

    .section-one {
      position: relative;
      padding: 50px;
      padding-bottom: 0px;
      .bmi-image {
        width: 468px;
        height: 533px;
      }
      &::after {
        width: 100%;
      }
    }
    .section-two {
      margin-top: 10rem;
    }
  }
}
@media (max-width: 1024px) {
  .hero {
    &-background {
      left: -30px;
      width: 708px;
      height: 667px;
    }
    &-content {
      left: 0px;
      width: 385px;
    }
    .icon {
      left: 0px;
    }
    .title {
      font-size: $xl-size;
    }
    .description {
      font-size: $xs-size;
    }
    .input-section {
      width: 504px;
      padding: $padding-lg;
    }
    .input-section {
      .input-item {
        .input-wrapper {
          padding: 12px;
        }
      }
    }
  }
  .bmi-meaning {
    .section-one {
      position: relative;
      padding: 50px;
      padding-bottom: 0px;
      .bmi-image {
        width: 368px;
        height: 433px;
      }
    }
  }
  .tips {
    margin-top: 7rem;
    .tips-content {
      gap: 2rem;
    }
  }
  .bmi-limitations {
    .contant {
      max-width: 400px;
      .section-title {
        font-size: $lg-size;
      }
    }
    .limitations-content {
      .limitation {
        max-width: 260px;
        .box {
          h3 {
            font-size: $sm-size;
          }
        }
        p {
          font-size: $xs-size;
        }
        &:nth-child(1) {
          top: -20%;
          right: 10%;
        }
        &:nth-child(2) {
          top: 17%;
          right: 0%;
        }
        &:nth-child(3) {
          top: 17%;
          right: 31%;
        }
        &:nth-child(4) {
          top: 47%;
          right: 18.2%;
        }
        &:nth-child(5) {
          top: 47%;
          right: 49.3%;
        }
      }
    }
  }
  .desktop-child {
    top: 669px;
  }
}

@media (max-width: 768px) {
  .desktop-child {
    display: none;
  }
  .hero {
    &-background {
      left: 0;
      width: 100%;
    }
    .icon {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-content {
      left: 0px;
      width: 100%;
      text-align: center;
      padding: 0px $padding-xl;
      top: 20%;
    }
    .input-section {
      top: 85%;
      right: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 650px;
    }
  }
  .hero-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .bmi-meaning {
    .section-one {
      padding-top: 12rem;
      padding-bottom: 0px;
      .bmi-image {
        width: 268px;
        height: 333px;
      }
    }
    .section-two {
      .section-title {
        font-size: $lg-size;
      }
    }
  }
  .tips {
    .tips-content {
      flex-direction: column;
      .tip {
        flex-direction: row;
      }
    }
  }
  .bmi-limitations {
    .contant {
      max-width: 100%;
      text-align: center;
      padding: 0px 2rem;
      .section-title {
        font-size: $lg-size;
      }
    }
    .limitations-content {
      display: inline-grid;
      grid-template-columns: auto auto;
      gap: $gap-lg;
      margin-top: 3rem;
      height: 100%;
      margin-bottom: 5rem;
      .limitation {
        max-width: 90%;
        position: sticky;

        &:nth-child(1) {
          top: 0%;
          right: 0%;
        }
        &:nth-child(2) {
          top: 0%;
          right: 0%;
        }
        &:nth-child(3) {
          top: 0%;
          right: 0%;
        }
        &:nth-child(4) {
          top: 0%;
          right: 0%;
        }
        &:nth-child(5) {
          top: 0%;
          right: 0%;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .hero {
    .input-section {
      top: 100%;
      width: 370px;
      .input-container {
        flex-direction: column;
        .input-item {
          width: 100%;
          .input-wrapper {
            padding: 12px;
          }
        }
      }
      .bmi-result {
        flex-direction: column;
        gap: 0px;
        align-items: start;
        border-radius: $border-radius-base;
      }
    }
  }

  .bmi-meaning {
    margin-top: 13rem;
    flex-direction: column;
    gap: 0;
    .section-one {
      padding-top: 12rem;
      padding-bottom: 0px;
      .bmi-image {
        width: 268px;
        height: 333px;
      }
    }
    .section-two {
      margin-top: 2rem;
      p {
        font-size: $xs-size;
      }
    }
  }
  .tips {
    padding: 1rem;
    .tips-content {
      flex-direction: column;
      .tip {
        flex-direction: column;
      }
    }
  }
  .bmi-limitations {
    .limitations-content {
      grid-template-columns: auto;
      justify-items: center;
      gap: $gap-lg;
      margin-top: 3rem;
      height: 100%;
      left: 10px;
      .limitation {
        max-width: 100%;
        padding: 2rem;
      }
    }
  }
}
