.hero-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-16xl) var(--br-16xl);
  background: linear-gradient(-69.9deg, #d6e6fe, rgba(214, 251, 254, 0));
  width: 978px;
  height: 737px;
}
.game-iconsabstract-082 {
  position: absolute;
  top: 75px;
  left: 116px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.body-mass {
  margin: 0;
}
.body-mass-index-container {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.05em;
  line-height: 110%;
  font-weight: 600;
}
.better-understand-your {
  width: 465px;
  position: relative;
  font-size: var(--body-m-size);
  line-height: 150%;
  color: var(--dark-electric-blue);
  display: inline-block;
}
.body-mass-index-calculator-parent {
  position: absolute;
  top: 266px;
  left: 116px;
  width: 564px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.enter-your-details {
  position: relative;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.enter-your-details-below-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--heading-m-size);
}
.frame-child {
  width: 31px;
  position: relative;
  height: 31px;
}
.metric {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.group-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.frame-item {
  width: 31px;
  position: relative;
  border-radius: 50%;
  background-color: var(--pure-white);
  border: 1px solid var(--borders);
  box-sizing: border-box;
  height: 31px;
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.height {
  position: relative;
  line-height: 150%;
}
.cm,
.div {
  position: relative;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.div {
  flex: 1;
}
.cm {
  color: var(--blue);
}
.parent {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--pure-white);
  border: 1px solid var(--borders);
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-5xl);
  gap: var(--gap-5xl);
  font-size: var(--heading-m-size);
  color: var(--gunmetal);
}
.frame-container,
.height-parent,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.height-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl);
  font-size: var(--body-s-size);
  color: var(--dark-electric-blue);
}
.div2,
.your-bmi-is {
  position: relative;
  font-weight: 600;
}
.your-bmi-is {
  align-self: stretch;
  line-height: 150%;
}
.div2 {
  font-size: var(--heading-xl-size);
  letter-spacing: -0.05em;
  line-height: 110%;
}
.your-bmi-is-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.your-bmi-suggests-container {
  flex: 1;
  position: relative;
  font-size: var(--body-s-size);
  line-height: 150%;
}
.frame-div,
.frame-parent {
  display: flex;
  padding: var(--padding-13xl);
}
.frame-div {
  align-self: stretch;
  border-radius: var(--br-base) var(--br-980xl) var(--br-980xl) var(--br-base);
  background: linear-gradient(90deg, #345ff7, #587dff);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
  color: var(--pure-white);
}
.frame-parent {
  position: absolute;
  top: 167px;
  left: 712px;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: var(--br-base);
  background-color: var(--pure-white);
  width: 564px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 32px;
  font-size: var(--body-m-size);
}
.hero {
  position: absolute;
  top: -1px;
  left: 24px;
  width: 1276px;
  height: 737px;
  font-size: var(--heading-xl-size);
}
.a-bmi-range {
  align-self: stretch;
  position: relative;
  font-size: var(--body-m-size);
  line-height: 150%;
  color: var(--dark-electric-blue);
}
.what-your-bmi-result-means-parent {
  position: absolute;
  top: 184px;
  left: 695px;
  width: 465px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.group-child {
  position: absolute;
  top: 145px;
  left: 0;
  border-radius: 32px;
  background-color: #e7f5fe;
  width: 564px;
  height: 388px;
}
.image-removebg-preview283-1-icon {
  position: absolute;
  top: 0;
  left: 48px;
  width: 468px;
  height: 533px;
  object-fit: cover;
}
.your-result,
.your-result-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 564px;
  height: 533px;
}
.your-result {
  top: 801px;
  left: 140px;
  width: 1160px;
}
.healthy-eating,
.tips-child {
  position: absolute;
  top: 0;
  left: 0;
}
.tips-child {
  border-radius: var(--br-16xl);
  background: linear-gradient(-69.9deg, #d6e6fe, rgba(214, 251, 254, 0));
  width: 1392px;
  height: 402px;
  opacity: 0.25;
}
.healthy-eating {
  letter-spacing: -0.05em;
  font-weight: 600;
}
.healthy-eating-promotes {
  position: absolute;
  top: 53px;
  left: 0;
  font-size: var(--body-m-size);
  line-height: 150%;
  color: var(--dark-electric-blue);
  display: inline-block;
  width: 365px;
}
.group-div,
.group-item,
.healthy-eating-parent {
  position: absolute;
  top: 109px;
  left: 0;
  width: 365px;
  height: 125px;
}
.group-div,
.group-item {
  top: 0;
  width: 64px;
  height: 64px;
}
.group-div {
  width: 365px;
  height: 234px;
}
.group-container,
.group-parent1,
.group-parent2,
.tips {
  position: absolute;
  top: 0;
  left: 397px;
  width: 365px;
  height: 234px;
}
.group-container,
.group-parent2,
.tips {
  left: 794px;
}
.group-container,
.tips {
  top: 72px;
  left: 116px;
  width: 1159px;
}
.tips {
  top: 1430px;
  left: 24px;
  width: 1392px;
  height: 402px;
  font-size: var(--heading-m-size);
}
.limitations-of-bmi-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 564px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.phgender-intersex-light-icon {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.phgender-intersex-light-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-parent2,
.frame-wrapper,
.frame-wrapper1,
.frame-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2 {
  align-self: stretch;
  gap: var(--gap-base);
}
.frame-wrapper,
.frame-wrapper1,
.frame-wrapper2 {
  position: absolute;
  top: 0;
  left: 497px;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: var(--br-base);
  background-color: var(--pure-white);
  width: 365px;
  overflow: hidden;
  padding: var(--padding-13xl);
  box-sizing: border-box;
}
.frame-wrapper1,
.frame-wrapper2 {
  left: 0;
}
.frame-wrapper2 {
  left: 397px;
}
.frame-parent3 {
  position: absolute;
  top: 264px;
  left: 199px;
  width: 762px;
  height: 184px;
}
.frame-parent1,
.frame-parent6 {
  position: absolute;
  top: 472px;
  left: 0;
  width: 762px;
  height: 232px;
}
.frame-parent1 {
  top: 0;
  left: 199px;
  width: 961px;
  height: 704px;
  font-size: var(--heading-s-size);
}
.bmi-limitations-child {
  position: absolute;
  top: 251px;
  left: 165px;
  width: 94px;
  height: 122px;
}

.bmi-limitations,
.desktop-child {
  position: absolute;
  top: 1952px;
  left: 140px;
  width: 1160px;
  height: 704px;
}
.desktop-child {
  top: 749px;
  left: 1188px;
  width: 85px;
  height: 200px;
}

.layout {
  width: 100%;
  background-color: var(--pure-white);
  color: var(--gunmetal);
  font-family: var(--body-m);
}
